<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Eat Da Burger!</title>
    <script src="https://code.jquery.com/jquery.js"></script>

    <style>
        body {
            background-color: rgb(255, 231, 122);
            font-family: Verdana, Geneva, Tahoma, sans-serif
        }

        img {
            align-items: center;
            width: 250px;
            background: transparent;
        }

        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        h1 {
            text-align: center;
            color: tomato;
        }

        .clearfix {
            overflow: auto;
        }

        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }
    </style>
</head>

<body>
    <img class="center" src="http://clipart-library.com/img1/1241352.png">
    <h1>Eat-Da-Burger!</h1>
    <hr>
    {{{ body }}}
</body>

</html>