<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/burger_style.css" type="text/css" />
    <title>Eat Da Burger!</title>
    <script src="https://code.jquery.com/jquery.js"></script>

</head>

<body>
    <img class="center" src="/img/burger.png">
    <h1>Eat-Da-Burger!</h1>
    <hr>
    {{{ body }}}
</body>

</html>