<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Eat Da Burger!</title>
    <script src="https://code.jquery.com/jquery.js"></script>

    <style>
        body {
            background-color: rgb(255, 231, 122);
        }

        img {
            align-items: center;
            width: 250px;
            background: transparent;
        }
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        h1 {
            text-align: center;
            color: tomato;
        }
    </style>
</head>

<body>
    <img class="center"
        src="http://clipart-library.com/img1/1241352.png">
        <h1>Eat-Da-Burger!</h1>
        <hr>
<div style="overflow: auto;">
    <div style="box-sizing: border-box; width: 50%; float: left; padding: 10px">
     <button style="float: right">Devour It!</button>
     <textarea name="burgerName" id="id" cols="60" rows="2" style="float: right">burger name here</textarea>
    
    </div>
    <div style="box-sizing: border-box; width: 50%; float: left; padding: 10px">
        <input type="text" value="Hello" style="width: 300px;" disabled>
    </div>
</div>
<br>

<form id="addBurger" class="button-size">
    <textarea type="text" cols="40" rows="3" name="newBurger" class="center" style="margin-bottom: 20px;"></textarea>
    <button type="submit" class="center">Submit</button>
</form>
<p style="text-align: center;">Enter a burger you want to eat, the click the "Submit" button</p>

</body>

</html>